*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  text-align: center;
}

.header {
  text-align: center;
  padding: 15px;
}

.title{
  color: white !important;
}

.content {
  padding: 50px;
}

.calendar {
  border-radius: 10px;
}
