*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer{
  text-align: center;
}

.header {
  text-align: center;
  padding: 15px;
  height: auto;
}

.title{
  color: white !important;
}

h2.ant-typography {
  margin-bottom: 0;
}

.content {
  padding: 50px;
  display: flex;
  align-items: center;
}

.calendar {
  border-radius: 10px;
}

.line {
  border-radius: 2px;
  width: 100%;
  height: 2px;
  background-color: #1196a8;
}

.current_date {
  margin-bottom: 10px;
}

.form {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ant-form-inline .ant-form-item {
  margin-inline-end: 0;
  flex: auto;
}

.ant-form-item-control-input-content {
  margin-right: 10px;
}

.col:not(:last-child){
  margin-right: 5px
}

.row{
  margin-bottom: 10px;
}

.selected {
  opacity: .6;
  background-color: #e1e7e9;
  border-radius: 2px;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 10px;
  }
  h2.ant-typography {
    font-size: 24px;
  }
}